<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1><%= pokemon.name.english %> (<%= pokemon.name.japanese %>)</h1>
    <p>Type: <%= pokemon.type.join(", ") %></p>
    <ul>
        <li>HP: <%= pokemon.base.HP %></li>
        <li>Attack: <%= pokemon.base.Attack %></li>
        <li>Defense: <%= pokemon.base.Defense %></li>
        <li>Sp. Attack: <%= pokemon.base["Sp. Attack"] %></li>
        <li>Sp. Defense: <%= pokemon.base["Sp. Defense"] %></li>
        <li>Speed: <%= pokemon.base.Speed %></li>
    </ul>
</body>
</html>
